{
  "presets": ["next/babel", "@zeit/next-typescript/babel"],
  "env": {
    "development": {
      "plugins": ["inline-dotenv", "emotion"]
    },
    "production": {
      "plugins": ["transform-inline-environment-variables", "emotion"]
    }
  }
}
